# .env
DEBUG=True

SECRET_KEY=django-insecure-lfse4owqw%uz512dz%v8!#h-&_0-qzlz&5o$07o^6$vqv8uqv@

POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=mypassword

PGADMIN_DEFAULT_EMAIL=test@test.pl
PGADMIN_DEFAULT_PASSWORD=test
