<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        {% for item in dane.rates %}
            <div style="display:flex; margin:10px; flex-direction:row;">
                <div>{{ item.currency }} - {{ item.code }}</div>
            </div>
            <a>----------------------------------------------------------</a>
        {% endfor %}
        <div>----------------------------------------------------------</div>

    </div>
</body>
</html>