<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Strona Test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        {% for item in data %}
            <div style="display:flex; margin:10px; flex-direction:row;">
                <div><img style="height:100px;" src="{{ item.flag }}"/></div>
                <div>{{ item.name }} - {{ item.code }}</div>
            </div>
            <div>----------------------------------------------------------</div>
        {% endfor %}

    </div>
</body>
</html>